.info, .info a {text-decoration: none; color: white;}


@media (min-width: 908px) {
.container-fluid {max-height: 650px;}
.content {display: flex; align-items: center;}
.content img {height: 600px; object-fit: contain;}



@media (max-width: 907px) {
.content img { object-fit: contain;}
.content video { object-fit: contain;}
.modal-img {max-width: 100%; object-fit: contain; height: auto;}

.info {font-size: 15px;}
.content {display: flex; align-items: center;}}

#alert-box {width: 20%; position: absolute; text-align: center; color: white;
        position: fixed; background-color: rgba(255, 192, 203, 0.95);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;}





