# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
chromedriver-win64
# Virtual environment
venv/
env/
.venv/
.env/

# IDE specific files
.idea/
.vscode/

# Django specific files
*.sqlite3
db.sqlite3

# Log files
*.log
*.pid

# Coverage and testing
.coverage
.tox/
.nox/
.hypothesis/

products
users_images