{% extends "shop_templates/base.html" %}
{% load static %}
{% block title %} Category {% endblock %}
{% block link %}<link href="{% static 'shop_styles/main_style.css' %}" rel="stylesheet">{% endblock %}
{% block content %}
    <div class="container py-4">
      <div class="row justify-content-center g-4">
        {% for el in category %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card product-card text-white h-100">
            <div class="card-body d-flex flex-column">
              <div class="mb-2">
                <b>{{ el.name }}, <a href="{% url 'categorypage' el.category.id %}" class="text-white text-decoration-none">{{ el.category }}</a></b><br>
                <a href="{% url 'brandpage' el.brand.id %}" class="text-white text-decoration-none">{{ el.country }}, {{ el.brand }}</a>
              </div>
              <h5 class="mt-auto">Ціна {{ el.price }} $</h5>
            </div>
            <a href="{% url 'detailpage' el.id %}">
              <img src="{{ el.image.url }}" class="card-img-bottom product-img" alt="{{ el.name }}">
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="paginator">
    {% if category.paginator.num_pages > 1 %}
        {% if category.number > 1 %}
            <a href="?page=1{% if query %}&query={{ query }}{% endif %}"><p class="page" style="color: white;">1</p></a>
        {% endif %}

        {% if category.number > 3 %}
            <p style="color: white;">...</p>
        {% endif %}

        {% for p in category.paginator.page_range %}
            {% if p >= category.number|add:"-2" and p <= category.number|add:"2" %}
                {% if category.number == p %}
                    <p style="border: white solid thin;" class="page">{{ p }}</p>
                {% else %}
                    <a href="?page={{ p }}{% if query %}&query={{ query }}{% endif %}"><p class="page" style="color: white;">{{ p }}</p></a>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if category.number < category.paginator.num_pages|add:"-2" %}
            <p style="color: white;">...</p>
            <a href="?page={{ products.paginator.num_pages }}{% if query %}&query={{ query }}{% endif %}"><p class="page" style="color: white;">{{ products.paginator.num_pages }}</p></a>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}