{% extends "shop_templates/base.html" %}
{% load static %}
{% block title %} Creation {% endblock %}
{% block link %}<link href="{% static 'account_styles/user_styles.css' %}" rel="stylesheet"> {% endblock %}
{% block content %}
<div class="container-fluid d-flex justify-content-center text-center" style="color: white!important;">
    <form method="post" class="px-5 py-2">
        {% csrf_token %}
        <p>{{ form.username }}</p>
        <p>{{ form.password1 }}</p>
        <p>{{ form.password2 }}</p>
        <button type="submit" class="btn mt-3 w-100 p-2" style="background: linear-gradient(to left top, red 5%, black);
        color: white; border-radius: 4px;">Register</button>
    </form>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
