{% extends "shop_templates/base.html" %}
{% load static %}
{% block title %} Message {% endblock %}
{% block link %}<link href="" rel="stylesheet"> {% endblock %}
{% block content %}
        <div class="container-fluid d-flex justify-content-center text-center" style="color: white;">
                <form method="post" style=" border-radius: 15px; backdrop-filter: blur(4px); padding: 20px;">
                    {% csrf_token %}
                        <b>Напишіть ваше повідомлення:</b>
                        <p>{{ form.content }}</p>
                        <button type="submit" class="w-50 mt-4"
                                style="background: linear-gradient(to left top, darkred 5%, black);
                        color: white; padding: 10px; backdrop-filter: blur(4px); border-radius: 10px;">Надіслати</button>
                </form>
        </div>
{% endblock %}