{% extends "shop_templates/base.html" %}
{% load static %}
{% block title %} Cart {% endblock %}
{% block link %}<link href="{% static 'cart_styles/cart.css' %}" rel="stylesheet"> {% endblock %}
{% block content %}
        <h2 style="text-align: center; color: white;">Shopping Cart</h2>
        <div class="container d-flex justify-content-center">
            <table class="cart">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                    <tr>
                        <td>
                            {{ item.product.name }}
                        </td>
                        <td class="num">{{ item.size }}</td>
                        <td class="num">{{ item.quantity }}</td>
                        <td class="num">{{ item.product.price }}$</td>
                        <td class="num">{{ item.total_price }}$</td>
                        <td><a href="{% url 'cart_remove' item.product.id %}">&times;</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container" style="text-align: center;">
                <a href="{% url 'order' %}">
                    <button type="submit" class="btn btn-lg mt-3"
                    style="width: 40%; color: white; font-size: 20px; margin-bottom: 2%;
                    background: linear-gradient(to left top, black, red);">
                        Checkout, {{ cart.get_total_price }} $
                    </button>
                </a>
        </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
